h1{
    font-size: 50px;
   font-weight: 900;
   color: rgb(7, 7, 6);
}


.main-nav ul{
    list-style-type: none;
    background-color: rgb(55, 42, 73);
    padding: 0px;
    margin: 0px;

}

.main-nav a{
    color: rgb(244, 232, 232);
    text-decoration: none;
    padding: 15px;
    display: flex;
   justify-content: center;
}

body{
    background-color: rgb(86, 15, 15);
}
.button{
    background-color: aquamarine;
}
.button:hover{
    background-color: blueviolet;
}

.image-container img{
    width: 400px;
    height: 300px;
    transition: transform 0.5s ease;
   
}

.image-container img:hover{
    transform: scale(0.5);
}